@use 'theme';

.TicketModal {
  width: 1100px;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

.TicketModal_header {
  border-radius: 16px 16px 0 0;
  box-shadow: theme.$shadow16;
  display: flex;
  padding: 12px;
  position: relative;
  z-index: theme.$zIndexTicketModalHeader;
}

.TicketModal_headerContent {
  flex-grow: 1;
}

.TicketModal_close {
  margin-left: auto;
}
