@use 'theme';
@use 'mixins';

.ContentScroll__withScroll {
  position: relative;

  &::before,
  &::after {
    @include mixins.pseudo;
    background-position: center center;
    background-size: cover;
    height: 26px;
    left: 0;
    pointer-events: none;
    right: 0;
    z-index: theme.$zIndexScrollOverflow;
  }

  &::before {
    background-image: linear-gradient(0deg,
    rgba(255, 255, 255, 0) 3%,
    rgba(255, 255, 255, 0.7) 100%);
    top: 0;
  }

  &::after {
    background-image: linear-gradient(0deg,
    rgba(255, 255, 255, 0.7) 3%,
    rgba(255, 255, 255, 0) 100%);
    bottom: 0;
  }
}

.ContentScroll_scroll__withScroll {
  @include mixins.withStyledScrollbar;
  padding-right: 14px;
}
