@use 'theme';

.AuditEvent {
  background-color: theme.$white;
  display: flex;
  padding: 12px 46px 13px 35px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: theme.$darkGrey200;
  position: relative;

  &::after {
    border-bottom: 1px solid theme.$divider;
    bottom: 0;
    content: '';
    display: block;
    left: 24px;
    position: absolute;
    right: 24px;
  }
}

.AuditEvent__withHiddenBorder {
  &::after {
    display: none;
  }
}

.AuditEvent__withHiddenBorder + * {
  margin-top: 0;
  padding-top: 0;

  &::before {
    display: none;
  }
}

.AuditEvent_icon {
  fill: theme.$darkGrey200;
  margin-right: 34px;
  flex-shrink: 0;
}

.AuditEvent_text {
  flex-grow: 1;
}

.AuditEvent_date {
  flex-shrink: 0;
  margin-left: 20px;
}

