@use 'theme';
@use 'mixins';

.Sidebar {
  flex-shrink: 0;
  height: calc(100vh - 60px);
  padding-left: 14px;
  position: relative;

  &::before {
    @include mixins.pseudo;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 44%, theme.$white 100%);
    background-position: center center;
    background-size: cover;
    height: 26px;
    left: 0;
    pointer-events: none;
    right: 0;
    top: 0;
    z-index: theme.$zIndexScrollOverflow;
  }
}

.Sidebar__hasAlert {
  height: calc(100vh - 93px);
}

.Sidebar_scroll {
  @include mixins.withStyledScrollbar;
  height: 100%;
  padding-right: 14px;
}
